@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500;1,700&display=swap");

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #edeef7;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  background-color: #7868e6 !important;
  padding: 20px;
  display: flex;
}

.nav-items {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-item {
  margin-left: auto;
}

.left-heading {
  float: left;
  margin: 0;
  padding: 0;
}

.navbar h1 {
  margin: 0;
  font-size: 28px !important;
  line-height: 1rem;
}

.navbar h2 {
  margin: 0;
  font-size: 24px !important;
  line-height: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #f1f1f1;
}

.btn-primary {
  color: #fff;
}

/* Login page */
.login-page {
  height: 100vh;
  margin-top: -50px;
  background-image: url("https://pbs.twimg.com/media/DGujJp7U0AAHlOm.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.login-box {
  width: 400px;
  padding-top: 200px;
}

.brand {
  font-size: 66px !important;
  color: #7868e6;
}

.tagline {
  text-align: center !important;
  font-size: 18px !important;
  color: #005f99;
}

#submit-login {
  background-color: #7868e6;
}

#login-label {
  color: #005f99;
}

/* Shop page */
.shop-page-div {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.image-slider-holder {
  height: 200px;
}

.shop-title {
  width: 100%;
  background-color: rgb(228, 251, 255);
}

.shop-title h1 {
  margin-top: 0;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
}

/* card section */

.top-card {
  display: flex;
}

.Card {
  /* background-color: #b8b5ff; */
  background-image: url("https://i.redd.it/vdhgv54ndnj21.png");
  height: 550px;
  min-width: 400px;
  width: 400px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

.card-image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 20px 50px rgba(235, 25, 110, 1);
}

.card-title {
  margin-top: 30px;
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
}

.card-category {
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.card-first-row {
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 90%;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.card-location {
  align-self: start;
  font-size: 18px;
}

.card-rating {
  align-self: end;
  margin-left: 30px;
  font-size: 18px;
}

.fa-map-marker-alt {
  padding: 8px;
}

.fa-star-half-alt {
  padding: 8px 8px;
}

.fa-shipping-fast {
  padding: 7px 5px;
}

.card-shipping {
  align-self: start;
}

.shop-description h4,
a {
  font-size: 18px !important;
}

.description-card {
  margin-left: 65px;
  width: 100%;
  border-radius: 15px;
  background-image: url("https://i.redd.it/vdhgv54ndnj21.png");
}

.description-holder {
  width: 95%;
  height: 95%;
  margin: auto;
  background-color: rgba(225, 225, 225, 0.7);
  border-radius: 15px;
  display: flex;
}

.shop-image {
  width: 40%;
  align-items: center;
  margin: 10% 10px;
}

.shopImg {
  width: 100%;
}

.shop-description {
  margin-top: 40px;
  padding-left: 10px;
  width: 55%;
}

.product-details h2 {
  margin-top: 10px;
  font-size: 26px;
}

.product-details h3 {
  margin-top: 10px;
  font-size: 22px;
}

.link {
  text-decoration: none;
  padding-left: 5px;
  color: #7868e6;
}

.image-btn {
  height: 50px;
  width: 150px;
  border-radius: 20px;
  font-size: 15px;
  background-color: #7868e6;
  color: #f1f1f1;
  margin: 10px;
  border: none;
}

.btn-holder {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

/* catlog section */
.catlog-heading {
  width: 80%;
  margin: 0px;
  padding: 20px;
  font-size: 42px;
}

.product-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
}

.product-tile {
  position: relative;
  border: 3px solid #edeef7;
  background: url("https://cdn.trendhunterstatic.com/thumbs/cool-backgrounds.jpeg");
  padding: 10px;
  border-radius: 30px;
}

.product-image {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
  align-self: center;
  border-radius: 10px;
}

.product-details {
  padding-left: 20px;
}

.product-tile:hover .product-overlay {
  opacity: 1;
}

.product-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(225, 225, 225, 0.5);
}

.product-overlay a {
  font-size: 40px !important;
}

.like-icon {
  color: rgba(235, 25, 110, 1);
  font-size: 40px;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.support-icon {
  color: #272133;
  font-size: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.product-name {
  margin-bottom: 0px;
}

.product-price {
  margin-top: 10px;
  margin-bottom: 15px;
}
